# -------------------------------------------------------------------------
# Core
# -------------------------------------------------------------------------
[core]
autocrlf = input
editor = nvim

# -------------------------------------------------------------------------
# UI
# -------------------------------------------------------------------------
[color]
ui = auto

# -------------------------------------------------------------------------
# Fetch
# -------------------------------------------------------------------------
[fetch]
prune = true
pruneTags = true
all = true

# -------------------------------------------------------------------------
# Help
# -------------------------------------------------------------------------
[help]
autocorrect = prompt

# -------------------------------------------------------------------------
# Include
# -------------------------------------------------------------------------
[include]
path = ~/.gitconfig_local

# -------------------------------------------------------------------------
# Push
# -------------------------------------------------------------------------
[push]
default = current
autoSetupRemote = true
followTags = true

# -------------------------------------------------------------------------
# Init
# -------------------------------------------------------------------------
[init]
defaultBranch = main

# -------------------------------------------------------------------------
# Diff
# -------------------------------------------------------------------------
[diff]
algorithm = histogram

# -------------------------------------------------------------------------
# Commit
# -------------------------------------------------------------------------
[commit]
verbose = true

# -------------------------------------------------------------------------
# Rebase
# -------------------------------------------------------------------------
[rebase]
autoSquash = false
autoStash = false
updateRefs = false


# -------------------------------------------------------------------------
# Tools
# -------------------------------------------------------------------------
[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
  tool = nvimdiff
  conflictStyle = zdiff3

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "nvimdiff"]
  cmd = "nvim -d \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -c 'wincmd J | wincmd ='"
